@model FoodCollection.Models.Pickup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pickup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookPickup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookPickup.BookPickupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PickupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
